name: Left Shift Security Scan

on:
  push:
    branches: ["main"]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # -------- Bandit Scan --------
    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit
      run: bandit -r src/ -f json -o bandit-report.json 

    - name: Run AI Analyzer
      run: python ai_analyzer.py


    # -------- Semgrep Scan --------
    - name: Install Semgrep
      run: pip install semgrep

    - name: Run Semgrep
      run: semgrep --config=auto src/ --json > semgrep-report.json

      import os

@app.route("/cmd")
def cmd():
    return os.system(request.args.get("command"))
